In [1]:
import numpy as np
import pandas as pd

In [10]:
lst = [1,2,3,4,5]
np.array(lst)

array([1, 2, 3, 4, 5])

In [11]:
[lst,lst,lst]

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [12]:
pd.Series([lst,lst,lst])

0    [1, 2, 3, 4, 5]
1    [1, 2, 3, 4, 5]
2    [1, 2, 3, 4, 5]
dtype: object

In [13]:
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
pd.DataFrame([lst,lst,lst])

   0  1  2  3  4
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [15]:
df = pd.DataFrame([lst,lst,lst,lst,lst,lst,lst,lst,lst], columns = ['A','B','C','D','E'])
df

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5
3  1  2  3  4  5
4  1  2  3  4  5
5  1  2  3  4  5
6  1  2  3  4  5
7  1  2  3  4  5
8  1  2  3  4  5

In [16]:
del df

In [17]:
df

NameError: name 'df' is not defined